<ion-header>
    <ion-navbar>
        <ion-title>
            {{ name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p>Hi, I'm {{ name }}</p>
    <button ion-button (click)="onGoBack()">Confirm</button>
</ion-content>