<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic 2 Basics
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button (click)= "onGoToUsers()">Users</button>-->

  <!--<button ion-button [navPush] = "usrPage">Users</button>-->

  <button ion-button (click)= "onGoToUsers()">Users</button>
</ion-content>
